<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h1>Create New User</h1>
<form th:action="@{/admin/new}" th:method="post" th:object="${user}">
    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="firstName">First Name:</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="lastName">Last Name:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
    <br/>
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Create User"/>
</form>
</body>
</html>
